
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    @apply hover:text-primary-500 transition-all
}

